@import url("none-style.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
body .global-container {
  width: 80%;
  max-width: 400px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  background-color: #222222;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
body .global-container .input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
body .global-container .input-container__input {
  width: 70%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  background-color: #333333;
}
body .global-container .input-container__add-button {
  padding: 10px 20px;
  background-color: darkolivegreen;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
body .global-container .input-container__add-button:hover {
  background-color: olive;
}
body .global-container .header {
  text-align: center;
  margin-bottom: 20px;
  color: whitesmoke;
  font-size: 1.2rem;
}
body .global-container .tasks-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #333333;
  box-shadow: 0px 5px 10px 2px #282828;
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
}